@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --red1: #ec1e27;
    --blue1: #063d5d;
    --blue2: #e4f2ff;
    --blue3: #0067a3;
    --gray1: #2c2c2c;
    --white1: #f2f2f2;
    --white2: #eef1f3;
    --fontfamily1: "Work Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html,
input,
textarea,
button {
    font-family: var(--fontfamily1);
}

body {
    user-select: none;
}

.text-bold {
    font-weight: 700;
}

.text-red {
    color: var(--red1);
}

section {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a.chp-logo {
    img.fixed-logo {
        position: fixed;
        right: 10px;
        bottom: 10px;
        height: 100px;
        z-index: 99;
        border: 5px solid var(--white1);
        border-radius: 2px;
    }
}

@keyframes fadeIN {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

///********SİL BURAYI**********************/
section:not(section#text-education):not(section#text-tax):not(section#dropdowns):not(section#youtube):not(section#form) {
    display: none !important;
}

footer#footer {
    display: none !important;
}
/*****************************************/
