/*
    THIS FILE WAS DEVELOPED BY MEHMET GUDUK
    © 2022 COPYRIGHT, LICENSED WITH GPL-3.0 LICENSE, AUTHOR IS MEHMET GUDUK
    https://github.com/mehmetguduk
*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% STYLES %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

section#text-education {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white1);
    box-sizing: border-box;

    article.text-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: var(--white1);
        margin: 200px 400px;
        border-radius: 8px;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);

        img.clouds {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.1;
            position: absolute;
            border-radius: 8px;
        }

        div.slide-container-education {
            position: relative;

            div.slide-education {
                display: none;
                padding: 0 50px;
                text-align: justify;
                margin: 20px 40px;
                color: var(--blue1);
                font-size: 20px;
                font-weight: 500;
                animation: fadeIN 0.8s;

                h3.text-header {
                    font-size: 26px;
                    color: var(--red1);
                    text-align: center;
                    margin: 20px;
                    font-weight: 700;
                }

                ul {
                    margin-left: 20px;
                }
            }

            a.prev-education,
            a.next-education {
                position: absolute;
                top: 50%;
                cursor: pointer;
                background-color: var(--white1);
                color: var(--blue1);
                border: 1px solid rgba(6, 61, 93, 0.2);
                border-radius: 5px;
                padding: 5px 10px;
                transition: background-color 0.1s ease, color 0.1s ease;

                &:hover {
                    background-color: var(--blue1);
                    color: var(--white1);
                }

                &:active {
                    background-color: var(--gray1);
                    color: var(--white1);
                }
            }

            a.prev-education {
                margin-left: 20px;
            }

            a.next-education {
                margin-right: 20px;
                right: 0;
            }

            div.dot-container-education {
                text-align: center;

                span.dot-education {
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                    margin: 10px 1px 0 1px;
                    background-color: var(--white1);
                    border: 1px solid rgba(6, 61, 93, 0.2);
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background-color 0.1s ease;

                    &:hover {
                        background-color: var(--blue1);
                    }
                    &:active {
                        background-color: var(--gray1);
                    }
                }

                span.dot-education.active {
                    background-color: var(--blue1);
                }
            }
        }
    }
}

/* @@@@@@@@@@@@@@@@ TAB DESIGN FOR LAST SLIDE @@@@@@@@@@@@@@@@ */
div.slide-education {
    div.warpper {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);

        input.radio {
            display: none;
        }

        div.tabs {
            display: flex;

            label.tab {
                display: block;
                width: 100%;
                background-color: var(--blue1);
                color: var(--white1);
                font-size: 20px;
                text-align: center;
                padding: 10px 20px;
                border-top: 3px solid var(--blue1);
                box-sizing: border-box;
                cursor: pointer;

                &:first-child {
                    border-top-left-radius: 5px;
                }

                &:last-child {
                    border-top-right-radius: 5px;
                }

                &:active {
                    background-color: var(--gray1);
                    border-top: 3px solid var(--gray1);
                }
            }
        }

        div.panels {
            background: var(--white1);
            border-radius: 0 0 5px 5px;
            padding: 20px;

            div.panel {
                display: none;
                animation: fadeIN 0.5s;

                div.panel-title {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                ul {
                    margin: 0 10px;
                    list-style-type: square;
                }
            }
        }
    }
}

input#one:checked ~ div.panels div#one-panel,
input#two:checked ~ div.panels div#two-panel,
input#three:checked ~ div.panels div#three-panel,
input#four:checked ~ div.panels div#four-panel,
input#five:checked ~ div.panels div#five-panel {
    display: block;
}

input#one:checked ~ div.tabs label#one-tab,
input#two:checked ~ div.tabs label#two-tab,
input#three:checked ~ div.tabs label#three-tab,
input#four:checked ~ div.tabs label#four-tab,
input#five:checked ~ div.tabs label#five-tab {
    background: var(--white1);
    color: var(--blue1);
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% RESPONSIVE %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (max-width: 1700px) {
    section#text-education {
        article.text-content {
            margin: 150px 350px !important;
        }
    }
}

@media screen and (max-width: 1600px) {
    section#text-education {
        article.text-content {
            margin: 150px 250px !important;
        }
    }
}

@media screen and (max-width: 1400px) {
    section#text-education {
        article.text-content {
            margin: 100px 200px !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    section#text-education {
        article.text-content {
            margin: 100px 150px !important;
        }
        label.tab {
            padding: 8px 16px !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    section#text-education {
        article.text-content {
            margin: 100px !important;
        }
        label.tab {
            padding: 5px 10px !important;
        }
    }
}

@media screen and (max-width: 900px) {
    section#text-education {
        label.tab {
            padding: 3px 6px !important;
        }
    }
}

@media screen and (max-width: 800px) {
    section#text-education {
        article.text-content {
            margin: 100px 50px !important;
            padding: 10px !important;
        }

        a.prev-education {
            margin-left: 10px !important;
        }

        a.next-education {
            margin-right: 10px !important;
        }

        div.slide-education {
            font-size: 18px !important;
            text-align: left !important;
        }
        h3.text-header {
            font-size: 24px !important;
        }

        label.tab {
            font-size: 18px !important;
        }
        div.panel-title {
            font-size: 18px !important;
        }
    }
}

@media screen and (max-width: 660px) {
    section#text-education {
        div.tabs {
            flex-direction: column !important;
        }

        label.tab {
            padding: 3px 0 !important;
            border-radius: none !important;

            &:first-child {
                border-top-left-radius: 5px !important;
                border-top-right-radius: 5px !important;
            }

            &:last-child {
                border-top-right-radius: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    section#text-education {
        article.text-content {
            margin: 100px 30px !important;
            padding: 5px !important;
        }

        a.prev-education {
            margin-left: 5px !important;
        }

        a.next-education {
            margin-right: 5px !important;
        }

        div.slide-education {
            padding: 0 25px !important;
        }

        div.panels {
            padding: 10px !important;
        }
    }
}

@media screen and (max-width: 500px) {
    section#text-education {
        div.slide-education {
            padding: 0 5px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    section#text-education {
        article.text-content {
            margin: 100px 20px !important;
        }
        a.prev-education {
            margin-left: 2px !important;
        }

        a.next-education {
            margin-right: 2px !important;
        }

        div.slide-education {
            margin: 10px 20px !important;
            font-size: 16px !important;
        }

        a.prev-education,
        a.next-education {
            padding: 10px 5px !important;
        }

        h3.text-header {
            margin: 20px 0 !important;
            font-size: 20px !important;
        }

        label.tab {
            font-size: 16px !important;
        }

        div.panel-title {
            font-size: 16px !important;
        }

        div.panels {
            padding: 10px 5px !important;
        }
    }
}

@media screen and (max-width: 300px) {
    section#text-education {
        article.text-content {
            margin: 100px 0 !important;
            border-radius: 0 !important;
        }

        a.prev-education,
        a.next-education {
            padding: 10px 3px !important;
        }

        a.prev-education {
            margin-left: 0 !important;
        }

        a.next-education {
            margin-right: 0 !important;
        }

        img.clouds {
            border-radius: 0 !important;
        }
    }
}

@media screen and (max-width: 200px) {
    section#text-education {
        div.slide-education {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}
