/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% STYLES %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

section#text-tax {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white1);
    box-sizing: border-box;

    article.text-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: var(--white1);
        margin: 200px 400px;
        border-radius: 8px;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);

        img.clouds {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.1;
            position: absolute;
            border-radius: 8px;
        }

        div.slide-container-tax {
            position: relative;

            div.slide-tax {
                display: none;
                padding: 0 50px;
                text-align: justify;
                margin: 20px 40px;
                color: var(--blue1);
                font-size: 20px;
                font-weight: 500;
                animation: fadeIN 0.8s;

                h3.text-header {
                    font-size: 26px;
                    color: var(--red1);
                    text-align: center;
                    margin: 20px;
                    font-weight: 700;
                }

                ul {
                    margin-left: 20px;
                }
            }

            a.prev-tax,
            a.next-tax {
                position: absolute;
                top: 50%;
                cursor: pointer;
                background-color: var(--white1);
                color: var(--blue1);
                border: 1px solid rgba(6, 61, 93, 0.2);
                border-radius: 5px;
                padding: 5px 10px;
                transition: background-color 0.1s ease, color 0.1s ease;

                &:hover {
                    background-color: var(--blue1);
                    color: var(--white1);
                }

                &:active {
                    background-color: var(--gray1);
                    color: var(--white1);
                }
            }

            a.prev-tax {
                margin-left: 20px;
            }

            a.next-tax {
                margin-right: 20px;
                right: 0;
            }

            div.dot-container-tax {
                text-align: center;

                span.dot-tax {
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                    margin: 10px 1px 0 1px;
                    background-color: var(--white1);
                    border: 1px solid rgba(6, 61, 93, 0.2);
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background-color 0.1s ease;

                    &:hover {
                        background-color: var(--blue1);
                    }
                    &:active {
                        background-color: var(--gray1);
                    }
                }

                span.dot-tax.active {
                    background-color: var(--blue1);
                }
            }
        }
    }
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% RESPONSIVE %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (max-width: 1700px) {
    section#text-tax {
        article.text-content {
            margin: 150px 350px !important;
        }
    }
}

@media screen and (max-width: 1600px) {
    section#text-tax {
        article.text-content {
            margin: 150px 250px !important;
        }
    }
}

@media screen and (max-width: 1400px) {
    section#text-tax {
        article.text-content {
            margin: 100px 200px !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    section#text-tax {
        article.text-content {
            margin: 100px 150px !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    section#text-tax {
        article.text-content {
            margin: 100px !important;
        }
    }
}

@media screen and (max-width: 800px) {
    section#text-tax {
        article.text-content {
            margin: 50px !important;
            padding: 10px !important;
        }

        a.prev-tax {
            margin-left: 10px !important;
        }

        a.next-tax {
            margin-right: 10px !important;
        }
        div.slide-tax {
            font-size: 18px !important;
            text-align: left !important;
        }
        h3.text-header {
            font-size: 24px !important;
        }
    }
}

@media screen and (max-width: 600px) {
    section#text-tax {
        article.text-content {
            margin: 30px !important;
            padding: 5px !important;
        }

        a.prev-tax {
            margin-left: 5px !important;
        }

        a.next-tax {
            margin-right: 5px !important;
        }

        div.slide-tax {
            padding: 0 25px !important;
        }
    }
}

@media screen and (max-width: 500px) {
    section#text-tax {
        div.slide-tax {
            padding: 0 5px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    section#text-tax {
        article.text-content {
            margin: 20px !important;
        }
        a.prev-tax {
            margin-left: 2px !important;
        }

        a.next-tax {
            margin-right: 2px !important;
        }

        div.slide-tax {
            margin: 10px 20px !important;
            font-size: 16px !important;
        }

        a.prev-tax,
        a.next-tax {
            padding: 10px 5px !important;
        }

        h3.text-header {
            margin: 20px 0 !important;
            font-size: 20px !important;
        }
    }
}

@media screen and (max-width: 300px) {
    section#text-tax {
        article.text-content {
            margin: 20px 0 !important;
            border-radius: 0 !important;
        }

        a.prev-tax,
        a.next-tax {
            padding: 10px 3px !important;
        }

        a.prev-tax {
            margin-left: 0 !important;
        }

        a.next-tax {
            margin-right: 0 !important;
        }
        img.clouds {
            border-radius: 0 !important;
        }
    }
}

@media screen and (max-width: 200px) {
    section#text-tax {
        div.slide-tax {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}
