/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% STYLES %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

section#form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--white1);

    div.form-container {
        display: flex;
        margin: 100px 400px;

        form {
            width: 260px;

            h3.form-header {
                font-size: 30px;
                text-align: center;
                color: var(--red1);
                margin-bottom: 10px;
                font-weight: 600;
            }

            div.input-container {
                div.input-group {
                    margin: 8px 0;

                    textarea,
                    input:not(input[type="radio"]) {
                        width: 100%;
                        display: block;
                        padding: 5px 10px;
                        box-sizing: border-box;
                        font-size: 16px;
                        border: 1px solid rgba(6, 61, 93, 0.4);
                        border-radius: 3px;

                        &:focus {
                            outline: none;
                            border: 1px solid rgba(236, 30, 39, 0.7);
                        }
                    }

                    textarea {
                        resize: none;
                    }

                    label:not(label.sub-label),
                    p.question {
                        display: inline-block;
                        color: var(--blue1);
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 3px;
                    }
                }
            }
            button {
                box-sizing: border-box;
                width: 100%;
                padding: 5px 10px;
                color: var(--blue1);
                font-size: 16px;
                font-weight: 600;
                background-color: var(--white1);
                border: 1px solid rgba(6, 61, 93, 0.2);
                border-radius: 3px;
                transition: background-color 0.1s ease, color 0.1s ease;
                cursor: pointer;

                &:hover {
                    color: var(--white1);
                    background-color: var(--blue1);
                }

                &:active {
                    color: var(--white1);
                    background-color: var(--gray1);
                }
            }
        }
    }
}

/* @@@@@@@@@@@@@@@@ CONTACT FORM @@@@@@@@@@@@@@@@ */
form.contact {
    border-right: 1px solid rgba(6, 61, 93, 0.2);
    padding-right: 40px;
}

/* @@@@@@@@@@@@@@@@ SURVEY FORM @@@@@@@@@@@@@@@@ */
form.survey {
    padding-left: 40px;

    div.input-group {
        div.radio-container {
            div.select-container {
                input[type="radio"] {
                    cursor: pointer;
                }
                label.sub-label {
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
    }
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% STYLES %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (max-width: 700px) {
    section#form {
        div.form-container {
            flex-direction: column;
        }

        form.contact {
            padding: 0 0 40px 0 !important;
            border-right: none !important;
            border-bottom: 1px solid rgba(6, 61, 93, 0.2);
        }

        form.survey {
            padding: 40px 0 0 0 !important;
        }
    }
}

@media screen and (max-width: 340px) {
    section#form {
        form {
            width: 200px !important;
        }
    }
}

@media screen and (max-width: 300px) {
    section#form {
        h3.form-header {
            font-size: 26px !important;
        }
    }
}

@media screen and (max-width: 270px) {
    section#form {
        form {
            width: 180px !important;
        }
    }
}

@media screen and (max-width: 220px) {
    section#form {
        form {
            width: 130px !important;
        }
    }
}
