

section#countries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);

    div.dropdown-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px;

        div.dropdown-message {
            display: inline;
            background-color: var(--blue2); // SİLİNECEK
            padding: 10px 0;
            width: 100%;
            text-align: center;
            color: var(--blue1);
            border-radius: 5px;
            font-size: 30px;
            cursor: pointer;

            i.fa-caret-down {
                font-size: 20px;
            }
        }

        div.dropdown {
            background-color: var(--blue3);
            display: none;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            font-size: 18px;

            ul.country-list {
                max-height: 200px;
                overflow: scroll;
                overflow-x: hidden;

                li.country {
                    color: var(--red1);
                    cursor: pointer;
                    transition: background-color 0.1s, color 0.1s;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
                    padding: 3px 0;

                    &:hover {
                        background-color: var(--blue1);
                        color: var(--white1);
                    }

                    &:active {
                        background-color: var(--red1);
                    }
                }
            }
        }

        div.download {
            margin: 30px 0;
            text-align: center;
            div.download-header {
                color: var(--red1);
                font-size: 40px;
            }
            div.download-speed {
                color: var(--blue1);
                font-size: 40px;
            }
        }
    }
}
