section#text-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white1);
    height: 100vh;
    width: 100%;

    div.text-container {
        display: flex;
        flex-direction: row;
        border: 1px solid rgba(6, 61, 93, 0.1);
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin: 0 300px;
        padding: 20px;
        border-radius: 8px;
        font-size: 20px;
        color: var(--blue1);
        background-color: var(--blue2);

        img.tax {
            height: 500px;
            border-radius: 8px;
            border: 1px solid rgba(6, 61, 93, 0.1);
        }

        p.text {
            padding: 0 30px;

            span.text-red {
                color: var(--red1);
            }
        }
    }
}
