section#video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--white1);

    div.video-container {
        iframe {
            border-radius: 20px;
        }
    }
}
